.addPage {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}
input {
  height: 45px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px 0;
}
select {
  height: 45px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px 0;
}
textarea {
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 10px;
}

.formAddRecipe {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(70, 247, 144);
  color: rgb(95, 95, 95);
  margin-inline: 10px;
  font-size: 16px;
  margin: 20px 0;
  align-self: flex-end;
}
.formBackRecipe {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: rgb(29, 50, 202);
  color: white;
  margin-inline: 10px;
  font-size: 16px;
  margin: 20px 0;
  align-self: flex-end;
}
.formAddRecipe:hover {
  background-color: rgb(0, 230, 96);
  cursor: pointer;
}
.formBackRecipe:hover {
  background-color: rgb(21, 35, 144);
  cursor: pointer;
}
.errorMessage {
  background-color: red;
  max-width: 1440px;
  width: 60vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  margin: 20px auto;
  border-radius: 5px;
}
.hide {
  display: none;
}

.addRecipeFooter {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 650px) {
  .addForm {
    width: 60%;
  }
}
