.detailContainer {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}
.detail__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 0 10px 50px;
  width: 100%;
  height: 150px;
  border-top: 1px solid #896b4f;
  border-bottom: 1px solid #896b4f;
  position: relative;
}
.detailImg {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  right: 100px;
  border: 1px solid #896b4f;
}
