.food__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(244, 248, 249, 1) 0%,
    rgba(223, 231, 236, 1) 100%
  ); */
}
.food__header {
  width: 100%;
  height: 700px;
  margin-bottom: 100px;
  background-image: url('/public/food2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.food__recipes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px 0;
  margin-bottom: 50px;
}

@media only screen and (min-width: 650px) {
  .food__recipes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 930px) {
  .food__recipes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
@media only screen and (min-width: 1240px) {
  .food__recipes {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
