.header {
  width: 100%;
  height: 600px;
  background-image: url('/public/hero1.jpg');
  background-size: cover;
  background-position: right top;
}
.header__title {
  margin-top: 80px;
  margin-right: 300px;
  text-align: right;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(77, 77, 77);
  letter-spacing: 5px;
}
.header__title * {
  margin: 5px 0;
}
.header__title span {
  font-family: 'Lemon', cursive;
  color: rgb(70, 247, 144);
}
