.recipeCardContainer {
  width: min-content;
  height: min-content;
}
.recipeCard {
  width: 250px;
  border-radius: 20px;
  background-color: hsl(210, 50%, 98%);
  box-shadow: 1px 1px 5px grey;
  margin-inline: 20px;
}
.recipeCard * {
  color: rgb(90, 90, 90);
}
.recipeCard__image {
  background-image: url('/public/default.jpg');
  width: 250px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
  top: -50px;
}
.recipeCard__main {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-self: end;
  padding: 20px;
}
.recipeCard__main__title {
  margin-top: -40px;
  margin-bottom: 10px;
}
.recipeCard__main__detail {
  margin-bottom: 40px;
}

.recipeCard:hover {
  scale: 1.05;
  box-shadow: 1px 1px 5px rgba(32, 129, 72, 0.621);
  transition: scale 300ms ease-in-out;
  cursor: pointer;
}
.recipeCard:hover .recipeCard__image {
  box-shadow: 1px 1px 5px rgba(205, 123, 64, 0.867);
  /* box-shadow: 1px 1px 5px rgb(32, 129, 73, 0.621); */
  scale: 0.85;
  transition: all 300ms ease-in-out;
}

.recipeCard__main__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 10px;
}
